.comment{
    display: flex;
    flex-direction: row;
    
}
.comment-container p{
    font-size: 12px;
}
.comment-container{
    background: tomato;
    color : white;
    font-weight: 500;
    border-radius: 100%;
    padding :4px;
    text-overflow: ellipsis;
}
.comment-name-and-comment-container{
    padding : 2px;
}

.comments-container{
    max-width: 500px;
    overflow-x: auto;
}
