.comment{
    display: flex;
    flex-direction: row;
    
}
.comment-container p{
    font-size: 12px;
}
.comment-container{
    background: #f2f2f2;
    text-overflow: ellipsis;
}
.comment-name-and-comment-container{
    padding : 2px;
}

.comments-container{
    width: 500px;
    overflow-x: auto;
}
