section{
    height: 700px;
    width: 700px;
}
.bg-dark{
    background-color: #36465d !important;
    border-bottom: 1px solid rgba(0,0,0,0.2);

}
body, html {
    height: 100%;
  }

.bg { 
    /* Full height */
    height: 100%; 
  overflow: hidden;
   
  }
  #Inscription_form{
      margin-top: 5px;
     box-shadow: 0 0 4px gray;
      padding : 45px;
  }
  #img-front{
      position: fixed;
      top :0;
      z-index: -5;
      height: 100%;
  }
  .marginTop50{
      margin-top: 50px;
  }

 