.student-item-list{
    display: flex;
    flex-direction: row;
    margin : 15px;
}
.list-item-image-profile-container{
    padding: 4px;
}

.list-item-name-and-email-container{
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.list-item-name-and-email-container h6{
margin: 0;
}
.dropdown-btn{
    background: transparent;
   border :0;
   outline: none !important;
   display: flex;
   margin-top: 5px;
   height: 20px;
   flex-direction: column;
   justify-content: space-around;
   cursor: pointer;
}
.bar{
    width:20px;
    background: gray;
    height: 3px;
    
}